
  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif; 
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('images/food-and-drink-pizza-pizzas-tomato.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*logo in nav bar*/
.logo{
    width: 7%;
    height: 7%;
}

header {
    background-color: #1c31259e;
    color: white;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
   
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}



/*partie de what is pizzarino et p et image*/
.flex{ /*cette partie et la partie de menu*/
    display: flex;
    align-items: center;
}
.partie1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    padding: 30px;
}
.partie1 h1{
font-size: 50px;
}
#image{ /*image de cette partie*/
    width: 400px;
    height: 400px;
    margin: 0px 10%;
}


    
/*.image{ 
    margin: 0px 8%;
}*/
section:nth-child(even){
    color: azure;
}
section:nth-child(odd) {
    background-color: #ffffff;
}



section{
    padding: 20px;
}

img {
    /*width:100% ;
    height: 100%;*/ 
    border: none; 
    width: 30%;
    height: 30%;
  
}
p{
   /* padding: 30px;*/
    font-size: 20px;
}
h1{
    padding: 20px;
    color: #264333;
    font-size: 40px;
}



/*partie contien welcome to pizzorino et key informations et image*/
.welcomeimg{
    display: flex;
    padding: 30px;
}
.welcome{
    padding: 10px 10px;
}
.welcome ul{
    list-style-type: none;
    font-size: 20px;
}
.welcomeimg img{
    border: 10px solid #9aaca2; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.welcome p, ul{
    padding: 0px 20px;
}



/**/
.partie2{
    display: flex;
    padding: 40px 60px;
}
.partie2 p{
    padding-left: 100px;
    padding: 50px 0px 10px 120px;
}
.partie2 img{
    border: 10px solid #9aaca2; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    
}


/**/
.partie3{
    display: flex;
    padding: 50px;
}
.partie3 img{
    border: #26433381 solid 4px;
    border-radius: 50%; 
    overflow: hidden;
    margin: 30px 240px;

}
.partie3 p, h3{
    padding: 0px 70px;
    text-align: center;
}
#partie3{
    text-align: center;
    padding-top: 130px;
}


/**/
.Menu img{
width: 200px;
height: 200px;
padding: 30px;
}
.Menu p, h3{
    padding: 10px 20px;
    
}
h5{
    padding-bottom: 30px;
}




/**/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 300px;
}


input{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-color: #ff6600; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}



/**/
footer {
    background-color: #1c31259e; 
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
footer img{
    width: 40px;
    height: 40px;
}


